<?xml version="1.0" encoding="utf-8"?>
<SettingsData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CompanyName>Jdl688</CompanyName>
  <CompanyLogo>Upload/2021/1/6/logo.png</CompanyLogo>
  <RecommendPercentage>0.1</RecommendPercentage>
  <RecommendMinimumAmount>10</RecommendMinimumAmount>
</SettingsData>