<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="GameDBConnectionString" connectionString="Data Source=DESKTOP-9U8TJO4\SQLEXPRESS;Initial Catalog=GameDB;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <!--<customErrors defaultRedirect="404.aspx" mode="On">
      <error statusCode="500" redirect="404.aspx"/>
      <error statusCode="404" redirect="404.aspx"/>
    </customErrors>-->
    <sessionState timeout="720" />
  </system.web>
  <appSettings>
    <add key="CompanyName" value="355Club Online Casino" />
    <add key="CompanyLogo" value="Upload/2021/1/24/logo.png" />
    <add key="CopyrightText" value="© 2020 355Club Online Casino" />
    <add key="RecPercent" value="0.1" />
    <add key="RecMinAmmount" value="10" />
    <add key="TwilioEnable" value="False" />
    <add key="TwilioPhone" value="" />
    <add key="TwilioSID" value="" />
    <add key="TwilioAuthToken" value="" />
  </appSettings>
</configuration>