<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="GameDBConnectionString" connectionString="Data Source=DESKTOP-9U8TJO4\SQLEXPRESS;Initial Catalog=GameDB;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <!--<customErrors defaultRedirect="404.aspx" mode="On">
      <error statusCode="500" redirect="404.aspx"/>
      <error statusCode="404" redirect="404.aspx"/>
      <error statusCode="403" redirect="404.aspx"/>
    </customErrors>-->
    <sessionState timeout="720" />
  </system.web>
  <!--<system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <remove statusCode="403"/>
      <error statusCode="404" path="/404.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>-->
  <appSettings>
    <add key="CompanyName" value="355Club Online Casino" />
    <add key="CompanyLogo" value="..\Upload/2021/1/24/logo.png" />
    <add key="CopyrightText" value="© 2020 355Club Online Casino" />
    <add key="RecPercent" value="0.1" />
    <add key="RecMinAmmount" value="10" />
    <add key="TwilioEnable" value="False" />
    <add key="TwilioPhone" value="" />
    <add key="TwilioSID" value="" />
    <add key="TwilioAuthToken" value="" />
    <add key="HTMLCode" value="ICAgICAgICA8c2NyaXB0IHR5cGU9InRleHQvamF2YXNjcmlwdCI+DQogICAgICAgICAgICB2YXIgVGF3a19BUEkgPSBUYXdrX0FQSSB8fCB7fSwgVGF3a19Mb2FkU3RhcnQgPSBuZXcgRGF0ZSgpOw0KICAgICAgICAgICAgKGZ1bmN0aW9uICgpIHsNCiAgICAgICAgICAgICAgICB2YXIgczEgPSBkb2N1bWVudC5jcmVhdGVFbGVtZW50KCJzY3JpcHQiKSwgczAgPSBkb2N1bWVudC5nZXRFbGVtZW50c0J5VGFnTmFtZSgic2NyaXB0IilbMF07DQogICAgICAgICAgICAgICAgczEuYXN5bmMgPSB0cnVlOw0KICAgICAgICAgICAgICAgIHMxLnNyYyA9ICdodHRwczovL2VtYmVkLnRhd2sudG8vNjAxOTliZGVhOWEzNGUzNmI5NzMxOTMwLzFldGkwaG52NSc7DQogICAgICAgICAgICAgICAgczEuY2hhcnNldCA9ICdVVEYtOCc7DQogICAgICAgICAgICAgICAgczEuc2V0QXR0cmlidXRlKCdjcm9zc29yaWdpbicsICcqJyk7DQogICAgICAgICAgICAgICAgczAucGFyZW50Tm9kZS5pbnNlcnRCZWZvcmUoczEsIHMwKTsNCiAgICAgICAgICAgIH0pKCk7DQogICAgICAgIDwvc2NyaXB0Pg==" />
    <add key="HeadFacebook" value="https://www.facebook.com/imnotmental" />
    <add key="HeadTwitter" value="https://twitter.com/imnotmental3" />
    <add key="HeadInstagram" value="https://www.instagram.com/imnotmental3/" />
    <add key="HeadTikTok" value="https://www.tiktok.com/@bartholomewzqho" />
    <add key="HeadYoutube" value="https://www.youtube.com/channel/UCAZlasvEy1euunP1M7nwj5Q" />
    <add key="HeadWhatsApp" value="+6012-903 6980" />
    <add key="HeadTelegram" value="@imnotmental" />
    <add key="HeadWeChat" value="imnotmental91" />
  </appSettings>
</configuration>